<h1>Please enter your email and new password</h1>

<form action="/create_new_password" method="post">
  Email: <input name="email" type="text">
  New Password: <input name="password" type="password">
  Confirm Password: <input name="password_confirmation" type="password">
	<input type="hidden" name="token" value="<%= params[:token] %>">
  	<input type="submit" value="Sign Up">
</form>